main{
    background-image: url('/imgs/hod.jpg');
}
body {
    background-color: black;
    color: white;
    background-image: linear-gradient(rgb(0,0,0,0),rgb(0,0,0,.35) ),url('../imgs/flames.jpg');
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}
#search{
    margin: 0 0 25px 0;
}
#cards {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
    /* box-shadow: 5px 5px; */
}
h1{
    color: black;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-size: larger;
    font-weight: bolder;

}
#title{
    font-family: 'Cinzel Decorative', cursive;
    font-size: xxx-large;
    text-shadow: 0 4px 2px red;

}
.button-div{
    display: flex;
    justify-content: space-between;
}
.character-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 241, 234);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 10px;
    display: '';
}
img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
button{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    margin: 5px 15px;
    background-color: black;
    width: 65px;
    color: white;
    text-align: center;
    border-radius: 10px;
}
#title{
    color: white;
}
p {
    color: black;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

